@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
}

img {
   user-select: none;
   -webkit-user-drag: none;
    
}

a {
    text-decoration: none;    
}

body {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

header {
    font-family: Nunito Sans;
    display: flex;
    align-items: center;
    padding: 100px 77px 124px 98px;
}

header>h1 {
    font-weight: 900;
    font-size: 40px;
    color: #282A30;
    cursor: pointer;
}

.nav-links {
    margin-left: 39px;
}

.nav-links>a {
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 19px;
    color: #282A30;
    margin-left: 106px;
    transition: 0.5s all ease;
}

.nav-links>a:hover {
    color: #F7515C;
    transition: 0.5s all ease;
}

.icons {
    display: flex;
    margin-left: 193px;
    width: 27px;
    height: 29.01689910888672px;
    gap: 85px;
    cursor: pointer;
}

.main-leftimg {
    position: absolute;
}

.main {
    font-family: Poppins;
    display: flex;
    margin-left: 100px;
    margin-bottom: 319px;
}

.main-left {
    margin-top: 113px;
}

.main-left>h1 {
    color: #F7515C;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 62px;
}

.main-left>span {
    color: #282A30;
    font-weight: 700;
    font-size: 55px;
    gap: 13px;
}

.main-buttons {
    display: flex;
    align-items: center;
    gap: 67px;
    margin-top: 47px;
}

.main-buttons>button {
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #F7515C;
    width: 207px;
    height: 78px;
    justify-content: center;
    font-weight: 600;
    font-size: 22px;
    color: white;
    transition: 0.5s all ease;
}

.main-buttons>button:hover {
    background-color: #000000;
    transition: 0.5s all ease;
}

.main-button2 {
    display: flex;
    align-items: center;
    gap: 24px;
}

.main-button2>img {
    width: 21.000000000000018px;
    height: 21.000000000000018px;
    margin-right: 43px;
    cursor: pointer;
}

.main-button2>span {
    color: #282A30;
    font-weight: 600;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s all ease;
}

.triangle {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    width: 58px;
    height: 58px;
    border-radius: 50%;
    box-shadow: 0px 4px 70px 0px #0000008e;
}

.triangle>img {
    padding: 19px 19px 19px 21px;
    cursor: pointer;
}

.main-button2:hover>span {
    color: #F7515C;
    transition: 0.5s all ease;
}

.main-right {
    margin-left: 110px;
}

.about {
    color: #282A30;
    margin-bottom: 294px;
}

.about-left>img {
    position: absolute;
}

.about-img {
    margin-left: 100px;
}

.first {
    margin-top: 521px;
    margin-left: 52px;
}

.second {
    margin-top: 332px;
    margin-left: 192px;
}

.about-right {
    margin-left: 711px;
    padding-top: 52px;
}

.about-right>h2 {
    color: #282A30;
    font-family: Poppins;
    font-weight: 700;
    font-size: 60px;
}

.about-right>h1 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 100px;
    color: white;
    -webkit-text-stroke: 2px #282A30;
    display: inline-block;
}

.opisanie {
    margin-top: 55px;
}

.opisanie>p {
    color: #00000073;
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 22px;
    margin-top: 19px;
}

.about-right>button {
    margin-top: 48px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #F7515C;
    width: 230px;
    height: 78px;
    justify-content: center;
    font-weight: 600;
    font-size: 22px;
    color: white;
    transition: 0.5s all ease;
}

.about-right>button:hover {
    background-color: #000000;
    transition: 0.5s all ease;
}

.more {
    margin-bottom: 1021px;
}

.photos {
    margin-top: 87px;
}

.more-img {
    position: absolute;
    margin-left: 216px;
}

.more1 {
    position: absolute;
    width: 449px;
    height: 199px;
    margin-top: 90px;
    margin-left: 86px;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.349);
}

.more2 {
    position: absolute;
    width: 449px;
    height: 199px;
    margin-left: 735px;
    margin-bottom: 51px;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.349);
}

.more3 {
    position: absolute;
    width: 449px;
    height: 199px;
    margin-left: 865px;
    margin-top: 462px;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.349);
}

.more-text {
    margin-left: 95px;
}

.more-text>h2 {
    color: #282A30;
    font-family: Poppins;
    font-weight: 600;
    font-size: 40px;
}

.more-text>h1 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 100px;
    color: white;
    -webkit-text-stroke: 2px #282A30;
    display: inline-block;
}

.products {
    margin-bottom: 278px;
}

.products-head {
    display: flex;
}

.products-head>img {
    margin-left: 645px;
    margin-top: 120px;
    height: 50px;
    width: 148px;
    cursor: pointer;
}

.products-texts {
    margin-left: 95px;
}

.products-texts>h2 {
    color: #282A30;
    font-family: Poppins;
    font-weight: 700;
    font-size: 38px;
}

.products-texts>h1 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 100px;
    color: white;
    -webkit-text-stroke: 2px #282A30;
    display: inline-block;
}

.cards {
    display: flex;
}

.cards>img {
    position: absolute;
}

.product2 {
    margin-left: 313px;
}

.product3 {
    margin-left: 630px;
}

.product4 {
    margin-left: 947px;
}

.try {
    margin-top: 828px;
    display: flex;
    margin-bottom: 148px;
}

.try-left {
    margin-left: 95px;
}

.try-left>h2 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 100px;
    color: white;
    -webkit-text-stroke: 2px #282A30;
    display: inline-block;
}

.try-left>h1 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 100px;
    color: #282A30;
}

.try-left>button {
    margin-top: 48px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #F7515C;
    width: 230px;
    height: 78px;
    justify-content: center;
    font-weight: 600;
    font-size: 22px;
    color: white;
    transition: 0.5s all ease;
}

.try-left>button:hover {
    background-color: #000000;
    transition: 0.5s all ease;
}

.try-right {
    margin-left: 218px;
}

.footer {
    display: flex;
    gap: 180px;
    margin-top: 100px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.footer-column h3 {
    font-family: poppins;
    font-size: 26px;
    font-weight: 600;
    color: #282A30;
    margin-bottom: 24px;
}

.footer-column a {
    font-family: poppins;
    color: #282A30CC;
    font-size: 18px;
    transition: color 0.5s ease;
}

.footer-column a:hover {
    color: #F7515C;
    transition: color 0.5s ease;
}

footer {
    margin-bottom: 150px;
    margin-left: 100px;
}
  @media (max-width: 786px){
    .rozoviy-kvadrat{
    
        display: none;
    
    }
    .navigation,
    .icona
    {
        display: none;
    
    }
    .burger{
        display: flex;
        margin-right: 22px;
    }
    header
    {
        padding: 20px;
    }
    header>h1 {
        margin-left: 10px;
        font-size: 26px;
    }
    .main {
        align-items: center;
        margin-left: 0;
        margin-bottom: 100px;
    }
    .main-left {
        margin: 40px 0 20px 30px;
    }
    .main-left > span {
        font-size: 20px;
    }
    .main-left > h1 {
        font-size: 10px;
        margin-bottom: 20px;
    }
    .main-buttons {
        flex-direction: column;
        gap: 20px;
    }
    .main-buttons > button {
        width: 140px;
        height: 50px;
        font-size: 14px;
    }
    .main-button2 > span {
        font-size: 10px;
    }
    .main-right {
        margin: 0;
        display: flex;
        justify-content: center;
    }
    .main-right img {
        max-width: 60%;
        height: auto;
    }
    .aboutfurniture {
        margin-bottom: 100px;
    }
    .aboutfurniture-left {
        margin-left: 0;
    }
    .first,
    .second {
        display: none;
    }
    .aboutfurniture-img {
        display: none;
    }
    .aboutfurniture-right {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
        margin-left: 110px;
    }
    .aboutfurniture-right > h2 {
        font-size: 24px;
    }
    .aboutfurniture-right > h1 {
        font-size: 40px;
        -webkit-text-stroke: 1px #282A30;
    }
    .paragraph {
        margin-top: 20px;
    }
    .paragraph > p {
        font-size: 14px;
    }
    .aboutfurniture-right > button {
        width: 160px;
        height: 50px;
        font-size: 16px;
        margin: 20px auto 0 auto;
    }

    .more {
        margin: 50px 0;
    }
    .more-img {
        display: none;
    }
    .more1,
    .more2,
    .more3 {
        position: static;
        width: 250px;
        height:110px;
        margin: 1px auto;
        display: flex;
        box-shadow: none;
    }
    .more-paragraph {
        margin-left: 0;
        text-align: center;
    }
    .more-paragraph > h2 {
        font-size: 22px;
    }
    .more-paragraph > h1 {
        font-size: 40px;
        -webkit-text-stroke: 1px #282A30;
    }
    .products-head {
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .products-head > img {
        margin: 20px 0;
        width: 80px;
        height: auto;
    }
    .products-paragraph > h2 {
        font-size: 20px;
    }
    .products-paragraph > h1 {
        font-size: 30px;
    }

    .cards-img {
        padding: 0 20px;
        gap: 30px;
    }

    .cards-img>img {
        width: 20%;
        height: auto;
    }

    .try-now {
        align-items: center;
        margin: 50px 20px;
        gap: 30px;
    }
    .try-now-left {
        margin: 0;
        text-align: center;
    }
    .try-now-left > h2,
    .try-now-left > h1 {
        font-size: 40px;
    }
    .try-now-left > button {
        width: 160px;
        height: 50px;
        font-size: 16px;
    }
    .try-now-right {
        margin: 30px 0 0 0;
    }
    .try-now-right img {
        max-width: 80%;
        height: auto;
    }
    footer>img {
        width: 350px;
        height: 2px;
    }

    .niz {
        gap: 30px;
    }
    .niz-column h3 {
        font-size: 10px;
    }
    .niz-column a {
        font-size: 8px;
    }
}